* 			{margin: 0;padding: 0;}
img 		{border: 0;}
li 			{list-style: none;}
a, button 	{text-decoration: none; color: #444444; -webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-o-transition:all .25s ease-in;transition:all .25s ease-in; cursor: pointer;}
html,body 	{width: 100%; height: 100%;}
img 		{border: 0; max-width: 100%;}
input:focus 		{opacity: 1;}
iframe 		{width: 100%;}

@font-face {font-family: 'fontnormal'; src: url('../fonts/fontnormal.eot'); src: url('../fonts/fontnormal.svg#proxima_nova_rgregular') format('svg'), url('../fonts/fontnormal.eot?#iefix') format('embedded-opentype'),url('../fonts/fontnormal.woff') format('woff'),url('../fonts/fontnormal.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'fontnormal'; src: url('../fonts/fontbold.eot'); src: url('../fonts/fontbold.svg#proxima_novasemibold') format('svg'); src: url('../fonts/fontbold.eot?#iefix') format('embedded-opentype'),url('../fonts/fontbold.woff') format('woff'),url('../fonts/fontbold.ttf') format('truetype'); font-weight: bold; font-style: normal;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 	@font-face {font-family: 'fontnormal'; src: url('../fonts/fontbold.svg#proxima_novasemibold') format('svg'); font-weight: bold; font-style: normal;}
}

.mt10 		{margin-top: 10px;}

body {font-size: 22px; color: #444444; font-family: 'fontnormal'; background: #eee;}

/*	Showcase 	*/
#showcase {position: relative; width: 100%; height: 100%;}
#showcase .cover-image {position: absolute; z-index: 10; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center;}
#showcase-area {position: absolute; z-index: 11; width: 84%; padding: 0 8%;}

/*		Header 		*/
#header {padding: 50px 0; position: relative;}

#logo {float: left;}

#topmenu {float: right; margin-top: 34px;}
#topmenu li {float: left; padding-left: 20px;}
#topmenu li a {color: #ccc; font-weight: bold; padding: 5px 0; font-size: 16px;}
#topmenu li a:hover, #topmenu li.active a {color: #fff; font-weight: bold; border-bottom: 1px solid rgba(255,255,255,.5); }

#topmenu .dd-cnt 			{position: relative;}
#topmenu .dropdown-menu 	{position: absolute; width:140px; background: #fff; border-radius: 5px; padding: 10px; top: 25px; right: -10px; display: none;}
#topmenu .dropdown-menu li 	{width: 100%; padding: 0px; float: left;}
#topmenu .dropdown-menu li a 	{color: #666; display: block; padding-left: 10px;}
#topmenu .dropdown-menu li a:hover 	{border: 0; background:#666; color: #fff; border: 0;}
#topmenu .dd-cnt.active .dropdown-menu 	{display: block;}
#topmenu .dd-cnt a:hover, #topmenu .dd-cnt.active a 	{border: 0;}

.down-icon 		{width: 0px; width: 0px; height: 0px; border-style: solid; border-width: 7px 7px 0 7px; border-color: #ffffff transparent transparent transparent; display: inline-block;}
.up-icon 		{width: 0px; height: 0px; border-style: solid; border-width: 0 7px 7px 7px; border-color: transparent transparent #ffffff transparent; display: inline-block; display: none;}

#topmenu .dd-cnt.active .down-icon 	{display: none;}
#topmenu .dd-cnt.active .up-icon 	{display: inline-block;}


#social-media {position: absolute; right: 0px; top: 0; font-size: 12px; color: rgba(255,255,255,.3); background: rgba(0,0,0,.3); padding: 10px 5px 10px 15px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
#social-media span {float: left; margin-right: 5px; margin-top: 5px;}
#social-media ul {float: right;}
#social-media li {float: left; margin: 0 3px}
#social-media li a {padding: 5px;}

.icon 				{display: block; display: inline-block;}
.icon.facebook 		{background: url(../img/social-media.png) no-repeat -5px -5px; width: 7px; height: 16px;}
.icon.twitter 		{background: url(../img/social-media.png) no-repeat -18px -6px; width: 16px; height: 13px; margin-top: 2px;}

#cover 		{clear: both; color: #fff; text-align: center; margin-top: 10%; width: 80%; margin: 15% 10% 20px;}
#cover h2 a 	{font-size: 50px; color: #fff;}
#cover .description 	{margin-top: 10px; color: #fff; color: rgba(255,255,255,.6); margin-bottom: 10px;}
#cover .date-user 	{font-size: 13px; color: #fff; color: rgba(255,255,255,.7); margin-bottom: 10px;}
#cover .date-user a 	{color: #fff;}
#cover .read-more 	{color: #fff; color: rgba(255,255,255,.7); font-weight: bold; font-size: 14px; padding: 10px; border: 2px solid rgba(255,255,255,.7); border-radius: 5px; display: block; width: 150px; margin: 20px auto; }
#cover .read-more:hover 	{color: #555; border: 2px solid #fff; background: #fff;}
#cover .share-infos 	{color: rgba(255,255,255,.7); font-size: 14px;}
#cover .share-infos strong 	{display: inline-block; margin: 0 10px;}
#cover .share-infos a 	{color: rgba(255,255,255,.7);}
#cover .share-infos a:hover 	{color: rgba(255,255,255,1);}
#cover .share-infos i 	{}

#index-loop .article 		{padding: 50px 10%; background: url(../img/post-sep.png) repeat-x bottom left; overflow: hidden;}
#index-loop .article .article-area 		{width: 55%; padding-right: 5%; float: left;}
#index-loop .article .date 				{color: #777; font-size: 14px; margin: 10px 0;}
#index-loop .article .article-image 	{width: 40%; float: right;}
#index-loop .article .article-image a 	{background: #fff; padding: 10px; display: block; padding-bottom: 4px;}
#index-loop .article h3 a 				{color: #222; font-size: 30px;}
#index-loop .article .description 		{color: #444; font-size: 18px; margin-bottom: 10px;}
#index-loop .article .read-more-btn 	{font-size: 16px; font-weight: bold;}

#editform-activer 		{width: 163px; height: 32px; display: inline-block; background: url('../img/profile-edit.png') no-repeat; text-indent: -9999px; margin-left: 40px; cursor: pointer;}

.inline-edit 		{display: none; margin-top: -30px;}
#cover .inline-edit .description textarea 		{background: transparent; border: 0; color: #fff; color: rgba(255,255,255,.6); margin-bottom: 10px; font-size: 22px; font-family: 'fontnormal'; text-align: center; padding: 10px; height: 100px; background: rgba(255,255,255,.15); width: 100%; }
#cover .inline-edit .description textarea:focus 		{outline: none;}
#cover .inline-edit .share-infos input 		{ background: rgba(255,255,255,.15); border: 0; color: #fff; font-size: 22px; font-family: 'fontnormal'; padding: 5px 10px; }
#cover .inline-edit #imageupload 		{background: url('../img/imageupload.png') no-repeat; position: absolute; width: 114px; height: 107px; cursor: pointer; left: 5%; bottom:0px; text-indent: -9999px;}
#cover .inline-edit #id_profile_picture 	{display: none;}
#cover .inline-edit .read-more 	{background: transparent; font-family: 'fontnormal'; width: 200px;}
#cover .inline-edit .read-more:hover 	{background: #fff;}

.originalprofile 		{display: block;}

#main .article 			{width: 60%; padding: 50px 20%; overflow: hidden;} 
#main .article p 		{margin: 20px 0; font-size: 20px; line-height: 30px;} 
#main .article img 		{height: auto!important;}
#post-bottom 			{width: 60%; margin: 20px auto;}

.share-btn  		{background: #3b5998; cursor:pointer; color: #fff!important; display: block; font-weight: bold; margin-top:20px; margin-bottom: 20px; text-align: center; float: left; position: relative;}
.share-btn.twitter  		{background: #3fa8f3; margin-left: 20px;}

.share-btn .share-text 	{width: 205px; display: block; float: left; text-align: center; line-height: 40px; font-size: 18px;}
.share-btn .share-count 	{padding: 0 10px; height: 41px; display: none; float: right; line-height: 40px; background: #253c8e; }
.share-btn.twitter .share-count 	{background: #3874b9;}
#fbsr 				{display: block; }

.kucukibo 		{display: none; background: url('../img/kucukibo.png') no-repeat; width: 305px; height: 205px; position: absolute; left: 165px; top: -210px;}
.share-btn.facebook:hover .kucukibo 	{display: block;}


.lazy-load, .lazy-loaded {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.lazy-loaded { opacity: 1; }

#otherposts 		{width: 100%; clear: both;}
#otherposts .post-item 		{position: relative; height: 100%; overflow: hidden; width: 33.33%; float: left;}
#otherposts .post-item .postbg 		{width: 100%; display: block;}
#otherposts .post-item .postbg img 		{width: 100%;}
#otherposts .post-item .postarea 	{position: absolute; width: 100%; height: 100%; background:  rgba(32,76,0,0.6); color: #fff; text-align: center; padding: 30px 0;}
#otherposts .post-item h3  		{margin: 10px 0;}
#otherposts .post-item h3 a 	{color: #fff; font-size: 24px; display: block;}
#otherposts .post-item p a 	{color: #fff; display: block; font-size: 14px;}
#otherposts .post-item h3, #otherposts .post-item p 	{width: 70%; padding: 0 15%;}

/*		Contact Form		*/
.form-container 	{width:80%; margin:15px 10% 40px; }
#contact-form ul li	{width:100%; float:left; margin:12px 0;}
#contact-form ul li.half	{width:46%;}
#contact-form ul li.half input	{padding:5px 4%;}
#contact-form ul li.half:first-child	{margin-right:6%;}
#contact-form ul li input,
#contact-form ul li textarea	{width:96%; height: 40px; border:1px solid #d9d7cd; border-radius:3px; font-size:14px; padding:5px 2%;}
#contact-form ul li textarea	{padding:2%; text-indent:0; width:96%;}
#contact-form ul li .description {color:#505050; font-size:14px; line-height:18px; display:block; margin-bottom:10px;}
#contact-form .read-more 		{background:#85c855; width:100%; border:0; border-radius:5px; padding:5px 0; height:40px; color:#fff; font-family: 'fontnormal',sans-serif; font-weight:bold; font-size:18px; margin-top:0;}
#contact-form .read-more:active 		{outline:none; margin-top:1px; box-shadow:inset 0 0 5px rgba(0,0,0,.5);}
#contact-form .read-more:focus 		{outline:none;}

.form-errors 	{background: #f2dede; overflow: hidden; padding: 5px 10px; border-radius: 5px; border: 1px solid #eed3d7; font-size: 14px; color: #b94a48; margin-bottom: 5px;}

.down-page 		{background: url('../img/down-arrow.png') no-repeat; width: 100px; height: 24px; margin: 50px auto 0; cursor: pointer; padding: 5px; -webkit-animation: downer 1s infinite; animation: downer 1s infinite; }
.down-page2 	{background: url('../img/down-arrow2.png') no-repeat; width: 54px; height: 43px; margin: 50px auto 0; cursor: pointer; padding: 5px; -webkit-animation: downer 1s infinite; animation: downer 1s infinite; }



@-webkit-keyframes downer{
from {margin-top: 50px;}
to {margin-top: 53px;}
}

@keyframes downer {
from {margin-top: 50px;}
to {margin-top: 53px;}
}

@media (max-width: 940px) { 
#index-loop .article .article-area,
#index-loop .article .article-image 	{width: 100%;}
#post-bottom 			{width: 80%;}

#index-loop .article .article-image 	{margin-bottom: 20px;}

#main .article { width: 80%; padding: 50px 10%;}
#otherposts .post-item .postarea 	{padding-top: 0;}
}

@media (max-width: 720px) { 
	#contact-form ul li.half,
	#contact-form ul li 	{width: 100%;}
	#otherposts .post-item 	{width: 100%;}
#otherposts .post-item .postarea 	{padding-top: 30px;}
}

@media (max-width: 600px) { 
	#cover h2 a {font-size: 30px;}
	#cover .description 	{font-size: 20px;}
	#otherposts .post-item 	{width: 100%;}
	#otherposts .post-item p a { font-size: 14px;}
	.share-btn 	{width: 100%; margin-bottom: 0;}
	.share-btn.twitter 	{margin-left: 0;}

}