{% extends "base.html" %}

{% block ExtraCSS %}
#showcase 		{height:300px;}
#cover 			{margin:50px 10% 20px;}
{% endblock %}

{% block Cover %}
<h2><a>İLETİŞİM</a></h2>
<p class="description">İletişime geçeyim dedim.</p>
{% endblock %}

{% block PageCoverImage %}
background-image: url(http://yazayimdedim.com/uploads/post/daktilo.jpg)
{% endblock %}


{% block Content %}
<div class="form-container">
<form id="contact-form" action="" method="POST">{% csrf_token %}
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="success"{% endif %}>Tamamdır, bende!</div>
        {% endfor %}
    {% endif %}
	<ul>
		<li class="half">
			<label for="id_name" class="description">Oo kimler teşrif etmiş efendim.. Bu kısım <strong>zorunlu değil</strong> sallamaya gerek yok ama kimle görüştüğümüzü bilsek hoş olur tabi.</label>
			{{form.name}}
		</li>
		<li class="half{% if form.mail.errors %} error{% endif %}">
			<label for="id_mail" class="description">Şaşırtıcı ama bu kısımda <strong>zorunlu değil</strong>, eğer cevap atmamız gerekirse kime gönderelim diye, merak etmeyin spamci değiliz efendim.</label>
			{{form.mail}}
		</li>
		<li>
			<label for="id_subject" class="description">Tahmin etmişsinizdir ama bu kısımda <strong>zorunlu değil</strong>, evet böyle özgürlüklerle dolu bir iletişim formu yaptık. Yapmayaydıkta gönülsüz insanlar ismini <strong>“hede hödö”</strong> mail adresini <strong>“asdasfas@asdasdacd.com”</strong> mu yapsın efendim. </label>
			{{form.subject}}
		</li>
		<li{% if form.message.errors %} class="error"{% endif %}>
			<label for="id_message" class="description">Burasıda <strong>zorunlu</strong> olsun artık, zorunlu yapmayalımda boş boş gönderin formu de mi? Evet efendim her türlü öneri, bilgi, istek gibi konulara açığız dilediğinizce doldurabilirsiniz. Kendi formunuz gibi doldurun.</label>
			{{form.message}}
		</li>
	</ul>
	<button class="read-more mt10">GÖNDER GELSİN</button>
</form>
</div>
{% endblock %}
