{% extends "base.html" %}

{% block ExtraJS %}
<script type="text/javascript">
	$(document).ready(function(){
	    var contentPosition = $('#content').offset();
	    var contentTop = contentPosition.top;
	    $('.down-page').click(function(){
		    $("html, body").animate({ scrollTop: contentTop });
	    });
	});
</script>
{% endblock %}

{% block Cover %}
    <p class="date-user"><strong>{{last_post.date}}</strong> tarihinde <strong><a href="/yazar/{{last_post.user.username}}/">{{last_post.user.username}}</a></strong> tarafından yazılmış.</p>
    <h2><a href="/{{last_post.slug}}">{{last_post}}</a></h2>
    <p class="description">{{ last_post.description }}</p>
    <a href="/{{last_post.slug}}" class="read-more">Hemen Oku</a>
    <div class="share-infos">
    	<strong><i class="icon facebook"></i> <span class="fbShareCount">{{ last_post_facebook_count }}</span> kez paylaşıldı</strong>
        <i class="icon twitter"></i> {{ last_post_twitter_count }} kez tweetlendi</strong>
    </div>
    <div class="down-page"></div>
{% endblock %}

{% block PageCoverImage %}
{% for p in posts|slice:":1" %}
  background-image: url(http://yazayimdedim.com{{MEDIA_URL}}{{ p.image }})
{% endfor %}
{% endblock %}

{% block Content %}
<div id="index-loop">
	{% for p in posts|slice:"1:" %}
		{% if p.is_active %}
		<article class="article">
		 	<div class="article-image">
	 			<a href="{{p.slug}}">
					<img class="lazy-load" data-src="{{MEDIA_URL}}{{ p.image }}" data-src-mobile="{{MEDIA_URL}}{{ p.image }}" src="{{STATIC_URL}}img/no-image.jpg" />
					<noscript>
					<img src="{{MEDIA_URL}}{{ p.image }}" />
					</noscript>
	 			</a>
		 	</div>
			<div class="article-area">
			 	<h3><a href="{{p.slug}}">{{ p }}</a></h3>
				<p class="date"><strong>{{p.date}}</strong> tarihinde <strong><a href="/yazar/{{p.user.username}}/">{{p.user.username}}</a></strong> tarafından yazılmış.</p>
			 	<p class="description">{{ p.description }}</p>
			 	<div class="read-more-btn">
			 		<a href="{{p.slug}}">Devamını Oku</a>
			 	</div>
		 	</div>
		 </article>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}
