{% extends "base.html" %}

{% block ExtraJS %}
<script type="text/javascript">

	$(document).ready(function(){
	
	var contentPosition = $('#content').offset();
	var contentTop = contentPosition.top;

	$('.down-page').click(function(){
		$("html, body").animate({ scrollTop: contentTop });
	});

	});

</script>
{% endblock %}


{% block Cover %}
{% for p in posts|slice:":1" %}
<p class="date-user"><strong>{{p.date}}</strong> tarihinde <!--<strong><a href="/yazar/{{p.user.username}}/">{{p.user.username}}</a></strong> tarafından--> yazılmış.</p>
<h2><a href="/{{p.slug}}">{{p}}</a></h2>
<p class="description">{{ p.description }}</p>
<a href="/{{p.slug}}" class="read-more">Hemen Oku</a>

<div class="share-infos">
	<strong><i class="icon facebook"></i> <span class="fbShareCount">0</span> kez paylaşıldı</strong>
	<!--<strong><i class="icon twitter"></i> 3421 kez tweetlendi</strong>-->
</div>
<script type="text/javascript">
	var url = 'http://graph.facebook.com/?id=http://yazayimdedim.com/{{p.slug}}';

	$.getJSON(url,function(data){
		var shareCount = data['shares'];
		$('.fbShareCount').empty();
		$('.fbShareCount').append(shareCount);
	});
</script>
{% endfor %}
<div class="down-page"></div>

{% endblock %}

{% block PageCoverImage %}
{% for p in posts|slice:":1" %}
  background-image: url(http://yazayimdedim.com{{MEDIA_URL}}{{ p.image }})
{% endfor %}
{% endblock %}

{% block Content %}
<div id="index-loop">
	{% for p in posts|slice:"1:" %}
		{% if p.is_active %}
		<article class="article">
		 	<div class="article-image">
	 			<a href="{{p.slug}}">
					<img class="lazy-load" data-src="{{MEDIA_URL}}{{ p.image }}" data-src-mobile="{{MEDIA_URL}}{{ p.image }}" src="{{STATIC_URL}}img/no-image.jpg" />
					<noscript>
					<img src="{{MEDIA_URL}}{{ p.image }}" />
					</noscript>
	 			</a>
		 	</div>
			<div class="article-area">
			 	<h3><a href="{{p.slug}}">{{ p }}</a></h3>
				<p class="date"><strong>{{p.date}}</strong> tarihinde <!-- <strong><a href="/yazar/{{p.user.username}}/">{{p.user.username}}</a></strong> tarafından--> yazılmış.</p>
			 	<p class="description">{{ p.description }}</p>
			 	<div class="read-more-btn">
			 		<a href="{{p.slug}}">Devamını Oku</a>
			 	</div>
		 	</div>
		 </article>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}