{% extends "base.html" %}

{% block ExtraJS %}
<script type="text/javascript">
$(document).ready(function(){
	$('.agreement span strong').on('click',function(){
		$(this).parent().parent().find('.overlay').fadeIn();
	});
	$('.agreement .overlay').click(function(){
		$(this).hide();
	});
	$('.agreement span strong').hover(function(){
		$(this).parent().parent().find('.behzatc').show();
	}, function(){
		$(this).parent().parent().find('.behzatc').hide();
	});
});
</script>
{% endblock %}
{% block ExtraCSS %}
#showcase 		{height:300px;}
#cover 			{margin:50px 10% 20px;}

#contact-form 	{float:left; width:45%; }
#contact-form h3 	{margin-top:15px;}
#contact-form .minitext 	{font-size:16px; color:#666; margin-top:5px; margin-bottom:12px;}
#contact-form.login 	{float:right; text-align:left; margin-right:2px;}
#contact-form ul li 	{margin: 5px 0;}
#contact-form .read-more 	{margin-top:8px;}
.form-container 	{overflow:hidden;}

@media (max-width: 720px) {
#contact-form 	{width:98%; float:left;}
#contact-form.login 	{ margin-right:0px; float:left;}
}
	
}
{% endblock %}

{% block Cover %}
<h2><a>BENDE İSTEREM</a></h2>
<p class="description">Eğer üyeyseniz giriş yapabilirsiniz, yok hayır değilim derseniz kayıt formu aşağıda mevcuttur efendim.</p>
{% endblock %}

{% block PageCoverImage %}
background-image: url(http://yazayimdedim.com/uploads/post/daktilo.jpg)
{% endblock %}


{% block Content %}
<div class="form-container">

<form id="contact-form" class="login" action="" method="POST">{% csrf_token %}
<h3>Giriş Yap!</h3>
<p class="minitext">Çalıştım attım hesabı kenara diyorsan:</p>
<input type="hidden" name="type" value="login">
	{% if login_form.errors %}
		<div class="form-errors">
		{% for error in login_form.errors.values %}
			{{error}}
		{% endfor %}
		</div>
	{% endif %}
		<ul>
		<li>
			{{login_form.username}}
		</li>
		<li>
			{{login_form.password}}
		</li>
		</ul>
	
	<button class="read-more">GİRİŞ YAP</button>
</form>

<form id="contact-form" action="" method="POST">{% csrf_token %}
<h3>Kayıt Ol!</h3>
<p class="minitext">Üyeliğim yok haccciiii diyorsan:</p>
<input type="hidden" name="type" value="register">
	{% if register_form.errors %}
	<div class="form-errors">
		{{register_form.username.errors}}
		{{register_form.password1.errors}}
		{{register_form.password2.errors}}
		{{register_form.email.errors}}
	</div>
	{% endif %}
	<ul>
		<li>
			{{register_form.username}}
		</li>
		<li>
			{{register_form.password1}}
		</li>
		<li>
			{{register_form.password2}}
		</li>
		<li>
			{{register_form.email}}
		</li>
		<li class="agreement">
			<input type="checkbox">
			<span><strong>Üyelik sözleşmesini</strong> kabul ediyorum.</span>
			<div class="behzatc"></div>
			<div class="overlay">
			<div class="show-agreement">
				<h3>Kullanıcı sözleşmesi</h3>
				<p>Siteye üye olmak için geçerli bir e-mail adresi gereklidir, Üyenin belirtmiş olduğu email adresi site yönetimi tarafından üyeye ait olarak kabul edilecektir. Mail adresinin yanlış olmasından doğabilecek sorunlar üyeye aittir.</p>
				<p>Üye Türk Ceza Kanunu’nun, Fikir ve Sanat Eserleri Kanunu, Marka ve Patent Haklarının Korunması ile ilgili kanunlara uymayı taahhüt eder ve doğabilecek her türlü sorumluluk üyeye aittir.</p>
				<p>Üye yazmış olduğu yazı, resim, haber ve videoların içeriklerinden kanunlar önünde sorumludur. Üye pornografi, müstehcenlik, ırkçılık, kişi ve gruplara karşı hakaret, tehdit, taciz ve kişilik haklarına saldırıda bulunacak paylaşım, resim, yorum, video ve haberlerde bulunamaz. Paylaşımlar da kullanılan yazı, video, resim ve diğer materyallerin kullanımında ilgili kişi ve ya kurumlardan izin almak üyeye aittir. Aksi takdir de doğabilecek tüm hukuki ve cezai durumlarda sorumluluk üyeye aittir.</p> 
				<p>Paylaşılan haber, yazı, resim video ve diğer materyallerin yayınlanması veya yayından kaldırılması hakkı site yönetimindedir.</p>
				<p>Üye hakkında yapılacak resmi soruşturma talebi veya suç duyurusu halinde üye ile ilgili istenen bilgiler resmi makamlara verilecektir.</p>
				<p>İş bu sözleşmede dolayı meydana gelebilecek anlaşmazlıkların çözümünde İstanbul mahkemeleri yetkilidir.</p>
				<p>Üye işbu sözleşmeyi dikkatle okumalı ve bilgileri doğru olarak doldurmalıdır. Üye sözleşmenin kabulünden sonra aykırı hareketlerde bulunmamayı taahhüt eder.</p>
			</div>
			</div>
		</li>
	</ul>
	<button class="read-more">KAYIT OL</button>
</form>
</div>
{% endblock %}