{% extends "base.html" %}

{% block ExtraCSS %}
#showcase 		{height:300px;}
#cover 			{margin:50px 10% 20px;}

#contact-form 	{float:left; width:45%; }
#contact-form h3 	{margin-top:15px;}
#contact-form .minitext 	{font-size:16px; color:#666; margin-top:5px; margin-bottom:12px;}
#contact-form.login 	{float:right; text-align:right; margin-right:2px;}
#contact-form ul li 	{margin: 5px 0;}
#contact-form .read-more 	{margin-top:8px;}
.form-container 	{overflow:hidden;}
{% endblock %}

{% block Cover %}
<h2><a>BENDE İSTEREM</a></h2>
<p class="description">Eğer üyeyseniz giriş yapabilirsiniz, yok hayır değilim derseniz kayıt formu aşağıda mevcuttur efendim.</p>
{% endblock %}

{% block PageCoverImage %}
background-image: url(http://yazayimdedim.com/uploads/post/daktilo.jpg)
{% endblock %}


{% block Content %}
<div class="form-container">

<form id="contact-form" action="" method="POST">{% csrf_token %}
<h3>Kayıt Ol!</h3>
<p class="minitext">Üyeliğim yok haccciiii diyorsan:</p>
<input type="hidden" name="type" value="register">
	<ul>
		<li>
			{{register_form.username}}
		</li>
		<li>
			{{register_form.password1}}
		</li>
		<li>
			{{register_form.password2}}
		</li>
		<li>
			{{register_form.email}}
		</li>
	</ul>
	<button class="read-more">KAYIT OL</button>
</form>

<form id="contact-form" class="login" action="" method="POST">{% csrf_token %}
<h3>Giriş Yap!</h3>
<p class="minitext">Çalıştım attım hesabı kenara diyorsan:</p>
<input type="hidden" name="type" value="login">
<ul>
		<li>
			{{login_form.username}}
		</li>
		<li>
			{{login_form.password}}
		</li>
		</ul>
	
	<button class="read-more">GİRİŞ YAP</button>
</form>

</div>
{% endblock %}