{% extends "base.html" %}

{% block Title %}{{post.title}} | Yazayım Dedim{% endblock %}
{% block TitleSocial %}{{post.title}} | Yazayım Dedim{% endblock %}
{% block TitleSocial2 %}{{post.title}} | Yazayım Dedim{% endblock %}
{% block Description %}{{post.description}}{% endblock %}
{% block DescriptionSocial %}{{post.description}}{% endblock %}
{% block DescriptionSocial2 %}{{post.description}}{% endblock %}
{% block Keywords %}{{post.keywords}}{% endblock %}
{% block CoverImage %}http://yazayimdedim.com/uploads/{{ post.image }}{% endblock%}
{% block CoverImage2 %}http://yazayimdedim.com/uploads/{{ post.image }}{% endblock%}
{% block Url%}{{post.slug}}{% endblock %}
{% block UrlSocial%}{{post.slug}}{% endblock %}

{% block ExtraJS %}
<script type="text/javascript">

var url = 'http://graph.facebook.com/?id=http://yazayimdedim.com/{{post.slug}}';

$.getJSON(url,function(data){
	var shareCount = data['shares'];
	$('.fbShareCount').empty();
	$('.fbShareCount').append(shareCount);
});

$(document).ready(function(){
	
	var contentPosition = $('#content').offset();
	var contentTop = contentPosition.top;

	$('.down-page2').click(function(){
		$("html, body").animate({ scrollTop: contentTop });
	});

});

</script>
{% endblock %}

{% block Cover %}
{% for p in posts|slice:":1" %}
<p class="date-user"><strong>{{post.date}}</strong> tarihinde <!--<strong><a href="/yazar/{{p.user.username}}/">{{p.user.username}}</a></strong> tarafından--> yazılmış.</p>
<h2><a>{{post}}</a></h2>
<p class="description">{{ post.description }}</p>

<div class="share-infos">
	<strong><i class="icon facebook"></i> <span class="fbShareCount">0</span> kez paylaşıldı</strong>
	<!--<strong><i class="icon twitter"></i> 3421 kez tweetlendi</strong>-->
</div>

<div class="down-page2"></div>
{% endfor %}
{% endblock %}

{% block PageCoverImage %}background-image: url(http://yazayimdedim.com/{{MEDIA_URL}}{{ post.image }}){% endblock %}

{% block Content %}
<div id="main">
	<article class="article">
	 	<div class="article-area">
		 	{{ post.text|safe }}
		 	<div class="social-share">
		 	<a class="share-btn facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;">
		 		<span class="share-text">Facebook'ta Paylaş!</span>
		 		<span id="fbsr" class="share-count fbShareCount">0</span>
		 		<div class="kucukibo"></div>
		 	</a>
		 	<a class="share-btn twitter" onclick="javascript:(function(){window.twttr=window.twttr||{};var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document,E;if(C&gt;A){G=Math.round((C/2)-(A/2))}window.twttr.shareWin=window.open('http://twitter.com/share','','left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');E=F.createElement('script');E.src='http://platform.twitter.com/bookmarklets/share.js?v=1';F.getElementsByTagName('head')[0].appendChild(E)}());">		 		
		 		<span class="share-text">Twitter'da Paylaş!</span>
		 		<span class="share-count">0</span>
		 	</a>
		 	</div>
	 	</div>
	 </article>
</div>

<div id="post-bottom">
	    <div id="disqus_thread"></div>
	    <script type="text/javascript">
	        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = 'yazayimdedim'; // required: replace example with your forum shortname

	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<div id="otherposts">
	{% for p in posts %}
		<div class="post-item">
			<div class="postarea">
			 	<h3><a href="/{{p.slug}}">{{ p }}</a></h3>
			 	<p class="description"><a href="/{{p.slug}}">{{ p.description }}</a></p>
		 	</div>
		 	<a class="postbg" href="/{{p.slug}}">
				<img class="lazy-load" data-src="{{MEDIA_URL}}{{ p.image }}" data-src-mobile="{{MEDIA_URL}}{{ p.image }}" src="{{STATIC_URL}}img/no-image.jpg" />
				<noscript>
				<img src="{{MEDIA_URL}}{{ p.image }}" />
				</noscript>
		 	</a>
	 	</div>
	{% endfor %}
</div>

{% endblock %}
