{% extends "base.html" %}

{% block Title %}{{ profile.user.username}} | Yazayım Dedim{% endblock %}
{% block TitleSocial %}{{ profile.user.username}} | Yazayım Dedim{% endblock %}
{% block TitleSocial2 %}{{ profile.user.username}} | Yazayım Dedim{% endblock %}
{% block Description %}{{profile.about}}{% endblock %}
{% block DescriptionSocial %}{{profile.about}}{% endblock %}
{% block DescriptionSocial2 %}{{profile.about}}{% endblock %}
{% block Keywords %}yazar {{ profile.user.username}}, {{ profile.user.username}}, yazayimdedim yazar{% endblock %}
{% block CoverImage %}http://yazayimdedim.com{{MEDIA_URL}}{{ profile.profile_picture }}{% endblock%}
{% block CoverImage2 %}http://yazayimdedim.com{{MEDIA_URL}}{{ profile.profile_picture }}{% endblock%}
{% block Url%}http://yazayimdedim.com/yazar/{{ profile.user.username}}/{% endblock %}
{% block UrlSocial%}http://yazayimdedim.com/yazar/{{ profile.user.username}}/{% endblock %}

{% block ExtraJS %}
<script type="text/javascript">
	$(document).ready(function(){
	
		var contentPosition = $('#content').offset();
		var contentTop = contentPosition.top;

		$('.down-page').click(function(){
			$("html, body").animate({ scrollTop: contentTop });
		});

		function readURL(input) {
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();            
	            reader.onload = function (e) {
	                var fileUrl = e.target.result;
	                $('.cover-image').css('background-image','url('+ fileUrl +')');

	            }
	            
	            reader.readAsDataURL(input.files[0]);
	        }
	    }

		$("#id_profile_picture").change(function(){
			readURL(this);
    	});

	});
</script>
{% endblock %}

{% block Cover %}

{% if is_editable %}
<div class="inline-edit">
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<p class="date-user"><strong>{{profile.user.date_joined|date:"d F Y"}}</strong> tarihinde <strong><a href="#">{{p.user.username}}</a></strong> aramıza yazar olarak katılmış.</p>
	<h2><a>{{ profile.user.username}}</a></h2>
	<p class="description">{{profileform.about}}</p>
	<div class="share-infos">
		<strong><i class="icon facebook"></i> <a target="_blank">{{profileform.facebook_url}}</a></strong>
		<strong><i class="icon twitter"></i> <a target="_blank">{{profileform.twitter_url}}</a></strong>
	</div>
	<label for="id_profile_picture" id="imageupload">Resim Yükle</label>
	<input id="id_profile_picture" name="profile_picture" type="file">
	<button class="read-more">Değişiklikleri Kaydet</button>
</form>
</div>
{% endif %}


<div class="originalprofile">
<p class="date-user"><strong>{{profile.user.date_joined|date:"d F Y"}}</strong> tarihinde <strong><a href="#">{{p.user.username}}</a></strong> aramıza yazar olarak katılmış.</p>
<h2><a>{{ profile.user.username}}</a>{% if is_editable %}<span id="editform-activer">Profil Düzenle</span>{% endif %}</h2>
{% if profile.about %}
<p class="description">{{profile.about}}</p>
{% endif %}

<div class="share-infos">
	{% if profile.facebook_url %}
	<strong><i class="icon facebook"></i> <a href="https://facebook.com/{{profile.facebook_url}}" target="_blank">{{profile.facebook_url}}</a></strong>
	{% endif %}
	{% if profile.twitter_url %}
	<strong><i class="icon twitter"></i> <a href="https://twitter.com/{{profile.twitter_url}}" target="_blank">{{profile.twitter_url}}</a></strong>
	{% endif %}
</div>
<div class="down-page"></div>
</div>


{% endblock %}

{% block PageCoverImage %}

  background-image: url({{MEDIA_URL}}{{ profile.profile_picture }})

{% endblock %}

{% block Content %}
<div id="index-loop">
	{% for p in posts %}
		{% if p.is_active %}
		<article class="article">
			<div class="article-area">
			 	<h3><a href="/{{p.slug}}">{{ p }}</a></h3>
				<p class="date"><strong>{{p.date}}</strong> tarihinde <strong><a href="#">{{p.user.username}}</a></strong> tarafından yazılmış.</p>
			 	<p class="description">{{ p.description }}</p>
			 	<div class="read-more-btn">
			 		<a href="/{{p.slug}}">Devamını Oku</a>
			 	</div>
		 	</div>
		 	<div class="article-image">
	 			<a href="/{{p.slug}}">
					<img class="lazy-load" data-src="{{MEDIA_URL}}{{ p.image }}" data-src-mobile="{{MEDIA_URL}}{{ p.image }}" src="{{STATIC_URL}}img/no-image.jpg" />
					<noscript>
					<img src="{{MEDIA_URL}}{{ p.image }}" />
					</noscript>
	 			</a>
		 	</div>
		 </article>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}