<ul id="topmenu">
{% if user.is_authenticated %}
	<li class="dd-cnt">
		<a class="dd-button">{{user.username}} <i class="down-icon"></i><i class="up-icon"></i></a>
		<ul class="dropdown-menu">
			<li><a href="/bendeyazayim/">Yazı Ekle</a></li>
			<li><a href="/yazar/{{user.username}}/">Profilin</a></li>
			<li><a href="/cikis/">Çıkış</a></li>
		</ul>
	</li>
	<!--<li><a href="/giris/">BENDE YAZAYIM</a></li>
	<li><a href="#">KİMLER VARMIŞ</a></li>-->
{% else %}
	<li><a href="/giris/">BENDE YAZAYIM</a></li>
{% endif %}
	<li><a href="/iletisim/">İLETİŞİM</a></li>
</ul>